/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Element Setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Element Setting */

/* Root Setting  */
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --white-color: #FFF;
    --primary-color: #1E2548 ;
    --primary-color-light: #D9D9D9;
    --toggle-color: #FD5F00;
    --text-color: #707070;
    --text-content: #F9B23E;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}
/* Root Setting  */

/* Start Body Html */
body{
    min-height: 100vh;
    height: auto;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
/* End Body Html */

/* Title Setting */
.title {
    color: var(--primary-color);
    font-size: 55px;
    text-transform: capitalize;
    text-align: center;
}
/* Title Setting */

/* Start Navbar */
nav {
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: var(--white-color);
    width: 100%;
    height: 5em;
}

nav .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 1.5em;
    font-weight: 800;
    color: var(--primary-color);
    text-decoration: none;
}

.listPage{
    width: 60%;
}

.listPage ul {
    display: flex;
    justify-content: space-between;
}

.listPage li, a {
    list-style: none;
    font-weight: 800;
    color: var(--primary-color);
    text-decoration: none;
}
/* End Navbar */

/* Container Content Setting */
.container {
    margin: 0 50px;
}

#content {
    width: 100%;
    height: 100%;
}
/* Container Content Setting */

/* Start Banner  */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 2em;
}

.text-banner b {
    color: var(--primary-color);
    font-size: 75px;
    line-height: 80px;
}

.text-banner p {
    margin: 40px 0px 0 0;
    text-align: justify;
    font-size: 1em;
    font-weight: 500;
}

.image-banner, .img {
    margin: 40px;
    width: 600px;
    height: 350px;
}

.image-banner, .img::before {
    background-color: var(--primary-color);
}
/* End Banner  */

/* Start About Us  */
.about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-about {
    margin-top: 40px;
    text-align: center;
}
/* End About Us  */

/* Start Activity */
.activity {
    padding-top: 80px;
    width: 100%;
    height: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.activity-column {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* End Activity */

/* Content Category & Gallery  */
/* Start Gallery */
.category {
    margin-top: 10em;
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}

.container-gallery {
    margin: 0 10px;
    height: 30%;
    display: flex;
    justify-content: space-around;
    background-color: var(--text-content);
}

.container-gallery .gallery {
    background-color: var(--primary-color-light);
    width: 200px;
    height:250px;
    padding: 10px;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

.container-gallery .gallery:nth-child(1) {
    margin-top: 15px;
}
.container-gallery .gallery:nth-child(2) {
    margin-top: 80px;
}
.container-gallery .gallery:nth-child(3) {
    margin-top: 15px;
}
.container-gallery .gallery:nth-child(4) {
    margin-top: 80px;
}
.container-gallery .gallery:nth-child(5) {
    margin-top: 15px;
}

.container-gallery .gallery img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/* End Gallery */

/* Start Catergory */
.container-category {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-category .box {
    margin: 100px 20px 0px 20px;
    width: 200px;
    height: 250px;
    background-color: var(--primary-color-light);
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container-category .box .icon-category{
    margin-top: 8px;
    width: 60px;
    height: 60px;
    background-color: var(--text-content);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-category .box .icon-category i {
    color: var(--primary-color-light);
    font-size: 25px;
}

.container-category .box .text-content-category p {
    font-size: 12px;
    font-style: italic;
    color:#707070;
}

.container-category .box .button-category {
    padding: 5px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 500;
}
/* End Category */
/* Content Category & Gallery  */

/* Start Footer  */
.footer {
    background-color: var(--primary-color);
    bottom: 0;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-footer {
    text-align: center;
    font-size: 70px;
}
/* End Footer  */